<section >
    <h1 class="title">Selec your plan</h1>
    <p class="paragraph">Your have the option of monthly or
        yearly billing.
    </p>
    <div class="container-option">
        <div class="option">
            <img class="icon" src="../../assets/images/icon-arcade.svg" alt="icon">
            <div class="option-text">
                <span class="title-option">Arcate</span>
                <span class="subtitle-option">{{arcade | currency}}/mo</span>
            </div>
        </div>
        <div class="option">
            <img class="icon" src="../../assets/images/icon-advanced.svg" alt="icon">
            <div class="option-text">
                <span class="title-option">Advanced</span>
                <span class="subtitle-option">{{Advanced | currency}}/mo</span>
            </div>
        </div>
        <div class="option">
            <img class="icon" src="../../assets/images/icon-pro.svg" alt="icon">
            <div class="option-text">
                <span class="title-option">Pro</span>
                <span class="subtitle-option">{{pro | currency}}/mo</span>
            </div>
        </div>
    </div>
    <div class="continer-option-check">
        <p class="option-check">Monthly</p>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
        <p class="option-check">yearly</p>
    </div>
</section>