.form-button{
    position: absolute;
    right: 0;
    transform: translateY(8.5rem);
    background-color: var(--Marine_blue);
    border: none;
    width: 8rem;
    height: 2.6rem;
    border-radius: .4rem;
    color: var(--Magnolia);
    font-weight: 500;
}