.container{
    max-width: 60rem;
    padding: 0;
    margin: 0;
    position: relative;
    .container-form{
        height:max-content;
        background-color: var(--Magnolia);
        .conteiner-sidebar{
            display: flex;
            justify-content: center;
            column-gap: 1rem;
            padding-top: 2.5rem;
            background-image: url(../assets/images/bg-sidebar-mobile.svg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 11rem;   
            .box-step{
                display: flex;
                .number-step{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 2.3rem;
                    height: 2.3rem;
                    border-radius: 50%;
                    border: 1px solid var(--Magnolia);
                    color: var(--White);
                    font-size: 1rem;
                    font-weight: 500;

                }
                .active {
                    background-color: var(--Light_blue);
                    color: var(--Marine_blue);
                    border: none;
                }
                .text-step{
                    display: none;
                }

            }
        }
        .view-form{
            position: relative;
            top: -4.6rem;
            left: 50%;
            transform: translateX(-50%);
            width: 93%;
            background-color: var(--White);
            border-radius: .8rem;
            padding: 1.8rem 1.5rem;
            box-shadow: 0 0 4rem rgb(0,0,0,0.2);    
            .seccion-your-info{
                .label-text {
                    color: var(--Marine_blue);
                    font-size: 1rem;
                    font-weight: 400;
                }
                form {
                    .mb-3 {
                        .container-text {
                            display: flex;
                            align-items: center;
                            .label-text {
                                flex: 1;
                            }
            
                            .text-danger {
                                font-size: .9rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            .seccion-select-plan{
                .container-option {
                    display: flex;
                    flex-direction: column;
                    row-gap: .5rem;
            
                    .option {
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;
                        border: 1px solid var(--Light_gray);
                        border-radius: .4rem;
                        padding: 1rem .8rem;
                        &:hover {
                            cursor: pointer;
                            border: 1px solid hsla(243, 100%, 62%, 0.606);
                        }
                        .icon {
                            width: 2.3rem;
                            height: 2.3rem;
                        }
                        .option-text{
                            .color-monthy{
                                font-size: .7rem;
                                color: var(--Marine_blue);
                            }
                        }
                    }
                    .opcionSeleccionada {
                        border: 1px solid hsla(243, 100%, 62%, 0.606);
                    }
                }

                .continer-option-check {
                    margin-top: 1.4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 1rem;
                    padding: .6rem 0;
                    background-color: hsla(206, 94%, 87%, 0.246);
                    .option-check {
                        margin: auto 0;
                        font-weight: 500;
                        color: var(--Marine_blue);
                    }
                }
            }
            .seccion-add-ons{
                .container-options {
                    display: flex;
                    flex-direction: column;
                    row-gap: .6rem;
            
                    .box-option {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        border: 1px solid var(--Light_gray);
                        border-radius: .4rem;
                        padding: .6rem .9rem;
            
                        .form-check-input {
                            margin-right: .9rem;
                            width: 1.2rem;
                            height: 1.2rem;
                        }
            
                        .option-text {
                            margin-right: 1rem;
                            flex: 1;
                        }
            
                        .number-monthy {
                            margin: auto 0;
                            color: var(--Purplish_blue);
                            font-size: .83rem;
                        }
                    }
                }
            }
            .seccion-summary{
                .container-subtotal {
                    display: flex;
                    flex-direction: column;
                    row-gap: .5rem;
                    background-color: hsla(243, 100%, 62%, 0.066);
                    border-radius: .3rem;
                    padding: 1.2rem 1rem;
            
                    .box-subtotal {
                        display: flex;
            
                        .option-text {
                            flex: 1;
                        }
            
                        .center {
                            margin: auto 0;
                        }
            
                        .fontweight {
                            font-weight: 500;
                            font-size: .8rem;
                        }
                    }
                }
            
                .container-total {
                    margin-top: 1.4rem;
                    padding: 0 0.9rem;
                    display: flex;
            
                    .option-text {
                        flex: 1;
                    }
            
                    .title-option {
                        color: var(--Purplish_blue);
                        opacity: 0.9;
                    }
                }
            }
            .container-thank{
                padding: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                .image{
                    width: 5rem;
                    height: 5rem;
                    margin-bottom: .8rem;
                }
                .paragraph{
                    text-align: center;
                }
            }
        }
    }
    .container-buttons{
        position: relative;
        margin-top: 1rem;
        .form-button-next,.form-button-black{
            border: none;
            font-size: 1rem;
            font-weight: 500
        }
        .form-button-next{
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--Marine_blue);
            width: 8rem;
            height: 2.6rem;
            border-radius: .4rem;
            color: var(--Magnolia); 
            margin-right: 1rem;        
        }
        .form-button-black{
            position: absolute;
            top: 0;
            left: 0;
            color: var(--Cool_gray);
            background-color: transparent;
            margin-left: 1rem;
        }
    }
}
