  .container-form {
      height: max-content;
      background-color: var(--Magnolia);

      .conteiner-sidebar {
          display: flex;
          justify-content: center;
          column-gap: 1rem;
          padding-top: 2.5rem;
          background-image: url(../../images/bg-sidebar-mobile.svg);
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 11rem;

          .box-step {
              display: flex;

              .number-step {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 2.3rem;
                  height: 2.3rem;
                  border-radius: 50%;
                  border: 1px solid var(--Magnolia);
                  color: var(--White);
                  font-size: 1rem;
                  font-weight: 500;
              }

              .active {
                  background-color: var(--Light_blue);
                  color: var(--Marine_blue);
                  border: none;
              }

              .text-step {
                  display: none;
              }

          }
      }

      .view-form {
        border: 1px solid
        ;
          position: relative;
          top: -4.6rem;
          left: 50%;
          transform: translateX(-50%);
          width: 93%;
          background-color: var(--White);
          border-radius: .8rem;
          padding: 1.8rem 1.5rem;
          box-shadow: 0 0 4rem rgb(0, 0, 0, 0.2);

          @import './seccionYourInfo';
          @import './seccionSelectPlan';
          @import './seccion-add-ons';
          @import './seccionSummary';

          .container-thank {
              padding: 2rem 0;
              display: flex;
              flex-direction: column;
              align-items: center;

              .image {
                  width: 5rem;
                  height: 5rem;
                  margin-bottom: .8rem;
              }

              .paragraph {
                  text-align: center;
              }
          }

          .container-buttons {
              position: relative;
              transform: translateY(9rem);

              .form-button-next,
              .form-button-black {
                  border: none;
                  font-size: 1rem;
                  font-weight: 500;
                  top: 50%;
                  transform: translateY(-50%);
              }

              .form-button-next {
                  position: absolute;
                  right: 0;
                  background-color: var(--Marine_blue);
                  width: 8rem;
                  height: 2.6rem;
                  border-radius: .4rem;
                  color: var(--Magnolia);
              }

              .background-color-button-confirm {
                  background-color: var(--Purplish_blue);
              }

              .form-button-black {
                  position: absolute;
                  left: 0;
                  color: var(--Cool_gray);
                  background-color: transparent;

                  &:hover {
                      color: var(--Marine_blue);
                  }
              }
          }
      }

      .view-form-background-color-transparend {
          background-color: transparent;
          box-shadow: none;
          position: absolute;
          top: 20rem;
      }
  }