.label-text{
    color: var( --Marine_blue);
    font-size: 1rem;
    font-weight: 400;
}

form{
    .mb-3{
        .container-text{
            display: flex;
            align-items: center;
            .label-text {
                flex: 1;
                color: var(--Marine_blue);
                font-size: 1rem;
                font-weight: 400;
            }
            .text-danger{
                font-size: .9rem;
                font-weight: 600;
            }
        }
    }
}
