<section>
    <h1 class="title">Pick add-ons</h1>
    <p class="paragraph">Add-ons help enhance your
    gaming experience</p>

    <div class="container-options">
        <div class="box-option">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <div class="option-text">
                <span class="title-option">Online service</span>
                <span class="subtitle-option">Access to multiplayer games</span>
            </div>
            <p class="number-monthy">{{serviciovalue1 | currency:'+$'}}/mo</p>
        </div>

        <div class="box-option">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <div class="option-text">
                <span class="title-option">Larger storage</span>
                <span class="subtitle-option">Extra 1TB of clound save</span>
            </div>
            <p class="number-monthy">{{serviciovalue2 | currency:'+$'}}/mo</p>
        </div>

        <div class="box-option">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <div class="option-text">
                <span class="title-option">Customizable profile</span>
                <span class="subtitle-option">Custom theme on your profile</span>
            </div>
            <p class="number-monthy">{{serviciovalue2 | currency:'+$'}}/mo</p>
        </div>
    </div>
</section>