@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --Marine_blue: hsl(213, 96%, 18%);
    --Purplish_blue: hsl(243, 100%, 62%);
    --Pastel_blue: hsl(228, 100%, 84%);
    --Light_blue: hsl(206, 94%, 87%);
    --Strawberry_red: hsl(354, 84%, 57%);

    --Cool_gray: hsl(231, 11%, 63%);
    --Light_gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


html{
    font-size: 85%;
}

.title{
    font-size: 1.6rem;
    color: var(--Marine_blue);
    font-weight: 700;
    opacity: 0.9;
}
.paragraph{
    font-size: 1rem;
    color: var(--Cool_gray);
    font-weight: 400;
}

.height-complete{
    height: 100%;
}


.title-option{
    color: var(--Marine_blue);
    font-size: .94rem;
    font-weight: 700;
}
.subtitle-option{
    display: block;
    font-size: .8rem;
    color: var(--Cool_gray);
}

@media(min-width:600px){
    .title-option {
        font-size: 1rem;
    }
    
    .subtitle-option {
        font-size: .9rem;
    }
}

@media(min-width:766px){
    .title{
        font-size: 2rem;
    }
    .paragraph{
        font-size: 1.1rem;
    }
    
    .subtitle-option {
        font-size: .94rem;
    }
}